@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(10 25 47)
}

header {
    width: 100;
    height: 80px;
    background-color: rgb(10, 24, 4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    /* box-shadow: 0px 0px 10px white; */
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}


.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #fff;
    font-size: 20px ;
    padding: 10px 25px;
    border-radius: 50px;
    transition:  0.25;
    margin: 10 5px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background-color: #fff;
}
.nav-bar ul li a.active{
    color: #11101b;
    background-color: #fff;
}


@media only screen and (max-width:1250px){
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width:1100px){
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width:900px){
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active{
       height: 450px; 
    }
    .nav-bar UL {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align:  center;
        transition: 0.5s;
        opacity: 0  ;
    }
    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        /* color: red; */

    }   
}


/* ==============Animation Style======== */

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  

/* ========================HOME STYLE =================*/
.home{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



.home .image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:60px;
    margin-bottom: 120px;
    filter: drop-shadow(0px 0px 10px white);
    padding: 40px;
    margin-top: 50px;
  }

  .home .image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:blue;
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
    filter: drop-shadow(0px 0px 10px blue);
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
  }


  .home-content{
    padding: 10px;
    margin-top: 69px;
  }

  .home-content h2{
    color: #b3a2a2;
    font-size: 25px;
    font-weight: bold;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  }


  .home-content h1{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }
  .home-content h3{
    font-size: 32px;
    font-weight: bold;
    color: #b8a7a7;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s
  }

  .home-content span{
    color: yellow;
  }

  .home-content p{
    color: #575151;
    font-size: 15px;
    font-weight: bold;
    width: 70%;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
  }

  .social-media{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(0.2s * var(--i))
  }

  .social-media li {
    width: 50px;
    height: 50px;
    background-color:rgb(10 25 47);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px rgb(2, 2, 8));
    border-radius: 50%;
    transition: .4s;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(0.2s * var(--i))
  }

.social-media li:hover{
    scale: 1.2;
    filter: drop-shadow(0px 0px 10px white);
}


  .social-media li a{
    color: white;
    font-size: 28px;
    font-weight: bold;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(0.2s * var(--i))
  }

  .button{
    margin-top: 28px;
    /* display: flex;
    align-items: center;
    justify-content: center */
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

  .button button{
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    height: 50px;
    background-color:green;
    border: none;
    outline: none;
    margin-left: 40px;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px  black);
    transition: .4s;
  }

  .button button:hover{
    scale:1.1;
    filter: drop-shadow(0px 0px 7px white);
  }
  @keyframes navbar{
    from{
      width: 0%;
    }
    to{
      width: 100%;
    }
  }



  @media (max-width:1030px){
    .home{
      display: block;
      text-align: center;
    }

    .home .home-content p{
      width: 100%;
    }

    .home .social-media{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }



  /* =====================ABOUT STYLE=========== */


  .about{
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }


  .about .image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:60px;
    margin-bottom: 120px;
    filter: drop-shadow(0px 0px 10px blue);
    padding: 40px;
    margin-top:65px;
    margin-right: 90px;
  }

  .about .image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:blue;
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
    filter: drop-shadow(0px 0px 10px white);
  }

  .about-content{
    padding: 30px;
    margin-top:50px;
    margin-left: 30px;
  }

  .about-content h2{
    color: #b3a2a2;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .about-content h1{
    color: #e9cdcd;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .about-content p{
    width: 100%;
    color:#b3a2a2;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }


   .about-content .button button{
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    height: 50px;
    background-color:white;
    color: #11101b;
    border: none;
    outline: none;
    /* margin-left: 230px; */
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px  black);
    transition: .4s;
  }

   .about-content .button button:hover{
    scale:1.1;
    filter: drop-shadow(0px 0px 7px white);
  }


  .about-me{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
  }

  .about-me  h2{
    color: green;
    filter: drop-shadow(0px 0px 5px black);
  }



  @media (max-width:1115px){
    .about{
      display: block;
      text-align: center;
      .about-content .button button{
        text-align: center;
      }
    }
  }


  /* =============SERVICE STYLE================ */


.service{
  width: 1000px;
  height: 800px;
  margin-left: 160px;
  margin-top: 160px;
}

.service h2{
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

  .service-main{
    display: flex;
    justify-content: space-around;
    margin-top: 37px;
  }

  .service-main .card{
    text-align: center;
    width: 350px;
    height: 400px;
    background-color: rgb(10 25 47);
    filter: drop-shadow(0px 0px 10px black);
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(146, 141, 141);
    margin: 14px;
    transition: .5s;
  }

  .service-main .card i{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    filter: drop-shadow(0px 0px 10px black);
    cursor: pointer;
    border: 2px solid white;
    padding: 7px 10px;
    border-radius: 50%;
    padding-bottom:10px;
    color: #fff;
  }

  .service-main .card h2{
    font-size: 28px;
    font-weight: bold;
    color: #b9b0b0;
  }
  .service-main .card p{
    font-size: 14px;
    font-weight: bold;
    color: #978d8d;
  }


.service-main .card .button .S-btn{
  margin-top: 10px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border-radius: 10px;
  border: none;
  outline: none;
  filter: drop-shadow(0px 0px 5px black);
}

.service-main .card:hover{
  scale: 1.1;
  filter: drop-shadow(0px 0px 6px rgb(211, 207, 207));
}



@media (max-width:615px){
      .service-main {
        display:inline;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .service-main {
      display: flex;
      align-items: center;
      justify-content: center;
        
      }
}


/* ================SKILLS STYLE========= */

.skills{
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a192f;
  margin-bottom: 140px;
}

.skills-main{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background-color:#282828;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background-color:#d13639;
  border-radius: 3px;
  position: relative;
  animation: fillbar 2.5s 1;
  color: #000;
}


.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color:#fff;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: -10px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillbar{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

/* =================CONTACT STYLE========== */


.contact {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-bottom: 80px;
}

.contact h1{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.container h2{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container{
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #0a192f;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  filter: drop-shadow(0px 0px 10px white);
}

form input,
form textarea{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color:#0a192f;
  color: #fff;
  border: 1px solid rgb(122, 116, 116);
}


form input:focus,
form textarea:focus{
  outline: none;
  box-shadow: 0 0 5px #333;
}

form button{
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}


/* =================FOOTER STYLE============= */

.footer{
  margin-top: 30px;
  width:100%;
  height: 150px;
  background-color:#020811 ;
}

.footer .social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  filter: drop-shadow(0px 0px 1px black);
}

.footer .details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.footer .details h2{
  color: #aca1a1;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.footer .copyright {
  text-align: center;
  
}
.footer .copyright h2 {
  color: #837e7e;
  font-size: 16px;
  font-weight: bold;

}


@keyframes slideBottom {
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes slideLeft {
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes zoomIn  {
  0%{
      transform: scala(0);
      opacity: 0;
  }
  100%{
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes floatImage {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-24);
  }
  100% {
      transform: translateY(0);
  }
}